        body {
            background-color: BLACK;
        }
        
        h1 {
            color: orangered;
            font-family: anton;
            text-align: center;
        }
        
        hr {
            border: 10px solid orangered;
            border-radius: 20px;
        }
        
        .btn {
            padding: 15px 25px;
            font-size: 40px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: black;
            background-color: orangered;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
            text-decoration: none;
            height: 60px;
            width: 60px;
        }
        
        .btn:hover {
            background-color: orange;
        }
        
        .btn:active {
            background-color: orange;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
        
        .contact {
            padding: 4%;
            height: 400px;
        }
        
        .col-md-3 {
            background: orangered;
            padding: 4%;
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
        }
        
        .contact-info {
            margin-top: 10%;
        }
        
        .contact-info img {
            margin-bottom: 15%;
        }
        
        .contact-info h2 {
            margin-bottom: 10%;
            color: white;
        }
        
        .col-md-9 {
            background: black;
            padding: 3%;
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }
        
        .contact-form label {
            font-weight: 600;
        }
        
        .contact-form button {
            background: orangered;
            color: #fff;
            font-weight: 600;
            width: 50%;
        }
        
        .contact-form button:focus {
            box-shadow: none;
        }
        
        .form-group {
            color: white;
        }